body{
    text-align: center;
}

input{
    width: 50px;
}
h1,h3{
    color: #562349;
}
.container{
    table-layout: inherit;
    text-align: center;
}
table{
    margin-left: 43%;
 
    color: #100303;
    
}
input{
    background-color: #562349;
    color: white;
}
